<h1>IRONHACK CINEMA</h1>
<div class="card-container">
    {{#each movies}}
        <div class="main-card">
            <div class="card-img">
                <img src={{image}}>
            </div>
            <div class="card-title">
                {{title}}
            </div>
            <div class="card-link">
                <a href="/movies/{{_id}}">See More!</a>
            </div>
        </div>    
    {{/each}}
</div>